.box{
    padding: 0px 40px 0px 40px;
}

.managwrite {
    margin-top: -70px;
	border-radius: 20px;
	border: 1px solid #11362a;
	background: linear-gradient(to right, lightblue, #11362a);;
	color: #FFFFFF;
	font-size: 21px;
	font-weight: bold;
	padding: 10px 30px;
	letter-spacing: 1px;
	text-transform: uppercase;
    text-align: center;
}